<ion-content fullscreen class="ion-padding" scroll-y="false" *ngIf="this.isFinished == true">
    <ion-slides>
        <ion-slide>
            <div class="slide">
                <ion-card color="dark">
                    <ion-card-header>
                        <ion-card-title *ngIf="logoEmpresa != null">
                            <img src="{{logoEmpresa}}" fullscreen/>
                        </ion-card-title>
                    </ion-card-header>
                    <img src="../../assets/imgs/snooze.jpg" style="max-width: 46%" />

                    <h2>El servicio ya finalizo.</h2>
                    <br><br><br><br><br><br>
                    <br><br><br><br><br><br>
                    <ion-footer class="footer-by">
                        Powered by
                        <a class="href-link" href="https://www.asisteapp.co/" target="_blank">
                        asisteapp.co
                        </a>
                    </ion-footer>
                </ion-card>

            </div>
        </ion-slide>
    </ion-slides>

</ion-content>

<ion-content fullscreen *ngIf="this.isFinished == false">
    <div class="map" id="map"></div>
    <ion-row>
        <ion-col size="5" class="content-user">
            <ion-card color="dark">
                <ion-card-header>
                    <ion-card-subtitle *ngIf="foto == null">Buscando
                    </ion-card-subtitle>

                </ion-card-header>
                <ion-card-content>
                    <img src="{{foto}}" class="img-user" *ngIf="foto != null" />
                    <ion-icon class="user-img" name="person-circle-outline" *ngIf="foto == null">
                    </ion-icon>
                    <ion-card-subtitle>{{colaborador}}</ion-card-subtitle>
                </ion-card-content>
            </ion-card>
        </ion-col>


        <ion-col size="7">
            <ion-card>
                <ion-card-header color="dark">
                    <ion-card-title *ngIf="logoEmpresa != null">
                        <img src="{{logoEmpresa}}" fullscreen/>
                    </ion-card-title>
                    <ion-card-subtitle *ngIf="service == null">Estamos buscando tu servicio...
                        <ion-icon name="search-outline"></ion-icon>
                    </ion-card-subtitle>

                </ion-card-header>
                <ion-card-content style=" margin-left: -25px;">
                    <ion-card-subtitle class="title-center">{{ service }}</ion-card-subtitle>
                    <ion-item lines="none" class="custom-checkbox">
                        <ion-checkbox [(ngModel)]="status.buscando" disabled name="buscando" slot="start" class="check-customer"></ion-checkbox>
                        <ion-label class="label-check">Ubicando tu colaborador</ion-label>
                    </ion-item>
                    <ion-item class="item-check" lines="none">
                        <ion-checkbox [(ngModel)]="status.encontrado" name="encontrado" slot="start" disabled class="check-customer"></ion-checkbox>
                        <ion-label class="label-check">Ubicamos tu colaborador</ion-label>
                    </ion-item>
                    <ion-item class="item-check" lines="none">
                        <ion-checkbox [(ngModel)]="status.encamino" name="encamino" slot="start" disabled class="check-customer"></ion-checkbox>
                        <ion-label class="label-check">En camino hacia ti</ion-label>
                    </ion-item>
                    <ion-item class="item-check" lines="none">
                        <ion-checkbox [(ngModel)]="status.enservicio" name="enservicio" slot="start" disabled class="check-customer"></ion-checkbox>
                        <ion-label class="label-check">Llegue a tu dirección</ion-label>
                    </ion-item>
                    <ion-item class="item-check" lines="none">
                        <ion-checkbox [(ngModel)]="status.terminado" name="terminado" slot="start" disabled class="check-customer"></ion-checkbox>
                        <ion-label class="label-check">Finalizado</ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>


    <ion-footer class="footer-by">
        Powered by
        <a class="href-link" href="https://www.asisteapp.co/" target="_blank">
        asisteapp.co
        </a>
    </ion-footer>

</ion-content>